<div> 
<h5 style="font-size:200%">General Feedback <br><br></h5>

<h4> Scale <br> 
0 - Strongly Disagree <br>
1 - Disagree <br>
2 - Neither <br>
3 - Agree <br>
4 - Strongly Agree <br><br></h4>
</div>

<div> 
<form name="feedback" ng-submit="fcontrol.addFeedback()">
	<h4>
	Website works and is easy to navigate.<br>
	<input type="radio" ng-model="fcontrol.formData.c1" value="0"> 0 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c1" value="1"> 1 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c1" value="2"> 2 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c1" value="3"> 3 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c1" value="4"> 4 <br><br><br>
	 
	It was easy to hear about the VIP Program. <br>
	<input type="radio" ng-model="fcontrol.formData.c2" value="0"> 0 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c2" value="1"> 1 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c2" value="2"> 2 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c2" value="3"> 3 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c2" value="4"> 4 <br><br><br>
	
	Registration was quick and easy. <br>
	<input type="radio" ng-model="fcontrol.formData.c3" value="0"> 0 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c3" value="1"> 1 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c3" value="2"> 2 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c3" value="3"> 3 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c3" value="4"> 4 <br><br><br>
	
	Projects are exciting and provide opportunities to learn. <br>
	<input type="radio" ng-model="fcontrol.formData.c4" value="0"> 0 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c4" value="1"> 1 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c4" value="2"> 2 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c4" value="3"> 3 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c4" value="4"> 4 <br><br><br>
	
	I will register for VIP next semester. <br>
	<input type="radio" ng-model="fcontrol.formData.c5" value="0"> 0 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c5" value="1"> 1 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c5" value="2"> 2 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c5" value="3"> 3 &nbsp &nbsp &nbsp &nbsp 
	<input type="radio" ng-model="fcontrol.formData.c5" value="4"> 4 <br><br><br>Comments Optional<br>
 
	
	<textarea rows="10" cols="65" name = "box" ng-model="fControl.formData.comment"></textarea><br> 
	 
	<button type="submit" class="btn btn-submit">Submit</button>
</div>

